@model NissanPractice.Models.ItemsPurchased

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ItemsPurchased</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Item1" class="control-label"></label>
                <input asp-for="Item1" class="form-control" />
                <span asp-validation-for="Item1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item2" class="control-label"></label>
                <input asp-for="Item2" class="form-control" />
                <span asp-validation-for="Item2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item3" class="control-label"></label>
                <input asp-for="Item3" class="form-control" />
                <span asp-validation-for="Item3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item4" class="control-label"></label>
                <input asp-for="Item4" class="form-control" />
                <span asp-validation-for="Item4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item5" class="control-label"></label>
                <input asp-for="Item5" class="form-control" />
                <span asp-validation-for="Item5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item6" class="control-label"></label>
                <input asp-for="Item6" class="form-control" />
                <span asp-validation-for="Item6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item7" class="control-label"></label>
                <input asp-for="Item7" class="form-control" />
                <span asp-validation-for="Item7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item8" class="control-label"></label>
                <input asp-for="Item8" class="form-control" />
                <span asp-validation-for="Item8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item9" class="control-label"></label>
                <input asp-for="Item9" class="form-control" />
                <span asp-validation-for="Item9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item10" class="control-label"></label>
                <input asp-for="Item10" class="form-control" />
                <span asp-validation-for="Item10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item11" class="control-label"></label>
                <input asp-for="Item11" class="form-control" />
                <span asp-validation-for="Item11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item12" class="control-label"></label>
                <input asp-for="Item12" class="form-control" />
                <span asp-validation-for="Item12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item13" class="control-label"></label>
                <input asp-for="Item13" class="form-control" />
                <span asp-validation-for="Item13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item14" class="control-label"></label>
                <input asp-for="Item14" class="form-control" />
                <span asp-validation-for="Item14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item15" class="control-label"></label>
                <input asp-for="Item15" class="form-control" />
                <span asp-validation-for="Item15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item16" class="control-label"></label>
                <input asp-for="Item16" class="form-control" />
                <span asp-validation-for="Item16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item17" class="control-label"></label>
                <input asp-for="Item17" class="form-control" />
                <span asp-validation-for="Item17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item18" class="control-label"></label>
                <input asp-for="Item18" class="form-control" />
                <span asp-validation-for="Item18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item19" class="control-label"></label>
                <input asp-for="Item19" class="form-control" />
                <span asp-validation-for="Item19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item20" class="control-label"></label>
                <input asp-for="Item20" class="form-control" />
                <span asp-validation-for="Item20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
